@import url('https://fonts.googleapis.com/css2?family=Delius&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Doppio+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
:root {
    --color1: #dad7cd;
    --color2: #a3b18a;
    --color3: #588157;
    --color4: #3a5a40;
    --color5: #344e41;

    --linear_gradient1: #004B09;
    --linear_gradient2: #00B22F;
}
html { 
    scroll-behavior:smooth; 
}

/* BODY */

/* HEADER */
    header {
    backdrop-filter: blur(37.7px);
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100vw;
}
h1.title {
    background: linear-gradient(to right, var(--linear_gradient1), var(--linear_gradient2));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-family: "Delius", cursive;
    font-style: normal;
}

.link_container_paths {
    text-decoration: none;
    color: var(--linear_gradient1);
    text-align: center;
}

.link_container_paths:hover {
    text-decoration: none;
    color: var(--linear_gradient1);
    transform: scale(1.05);
}


.button-calc {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 1% 4%;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-calc:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

/* MAIN */
#background_block {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
}
#main_background_image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-origin: center center;
    transform: scale(var(--zoom,1));
    will-change: transform;
}

/* Main Section main_text */
.main_text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100svh;
    width: 100svw;
    gap: 3%;
}

#main_text_central {
    color: black;
    text-align: center;
    font-family: "Doppio One";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#poluicao_ambiental_colorido {
    background: linear-gradient(90deg, var(--linear_gradient1), var(--linear_gradient1), var(--linear_gradient2));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Doppio One";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#poluicao_ambiental_subtitulo {
    color: black;
    text-align: center;
    font-family: "Doppio One";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Main Section secondary_texts */
.main_broader_division {
}

.complementary_texts_section {
}

.image_frames {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    aspect-ratio: 608 / 411;
}
@media only screen and (max-width: 810px) {
    /* HEADER */
    header{
        display: grid;
        gap: 10%;
        padding-bottom: 3%;
    }
    h1.title {
        text-align: center;
        font-size: 200%;
    }
    nav.links_container {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    /* Main Section main_text */
    #main_text_central {
        font-size: 200%;
    }
    #poluicao_ambiental_subtitulo {
        font-size: 95%;
    }

    /* Main Section secondary_texts */
    .bulb_icon {
        visibility: hidden;
        height: 0px;
        width: 0px;
    }
    #complementary_texts_section {
        display: grid;
        
    }
    .image_frames {
        width: 60%;
    }
    .secondary_text {
        padding-top: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title_and_bulb_icon {
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 2%;
    }
    #hidden_text{
        color: grey;
        justify-content: center;
    }
    .title_text_title {
        padding-top: 1%;
    }
    .title_text_text {
        margin: 0 10% 0 10%;
        text-align: center;
        font-size: 110%;
    }


}
@media only screen and (min-width: 810px) {
    /* HEADER */
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1%;
    }
    h1.title {
        margin-left: 4vw;
        text-align: left;
    }
    nav.links_container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 50vw;
        font-size: 120%
    }

    /* Main Section main_text */
    #main_text_central {
        font-size: 300%;
    }
    #poluicao_ambiental_subtitulo {
        font-size: 130%;
    }

    /* Main Section secondary_texts */
    #complementary_texts_section {
        display: grid;
    }
    .image_frames {
        width: 100%;
        height: 100%;
    }
    .secondary_text {
        display: flex;
        align-items: left;
        gap: 1%;
        padding: 12vh 10% 0 10%;
    }
    .title_text {
        width: 100vw;
        height: 30vh;
    }
    .title_and_bulb_icon {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0.5%;
        padding-bottom: 0;
        padding-top: 0;
    }

    .bulb_icon {
        width: 70px;
        padding-left: 10px;
        padding-right: 10px;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        position: relative;
    }
    #hidden_text {
        visibility: hidden; 
        opacity: 0; 
        position: absolute;
        margin: 75px;
        backdrop-filter: blur(37.7px);
        color:black;
        border-radius: 10% / 70%;
        padding: 15px;
        transition-property: all;
        transition-duration: 300ms;
        transition-timing-function: linear;
    }

    .bulb_icon:hover + #hidden_text {
        visibility: visible;
        opacity: 1;
    }
    .title_text_text {
        width: 50vw;
        font-size: 1.7vw;
    }
}
