
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Doppio+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
:root {
    --color1: #dad7cd;
    --color2: #a3b18a;
    --color3: #588157;
    --color4: #3a5a40;
    --color5: #344e41;

    --linear_gradient1: #004B09;
    --linear_gradient2: #00B22F;
}
/* BODY */
body {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    background-color: var(--color1);
    
}

/* BACKGROUND */
img.background_image {
    width: 1920px;
    height: 1080px;
    object-fit: cover; 
    display: block;
    position: absolute;
    opacity: 0.2;
    background-size: cover;
    background-repeat: no-repeat;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* HEADER */
header {
    backdrop-filter: blur(37.7px);
    position: fixed;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
    width: 100vw;
}
h1.title {
    background: linear-gradient(to right, var(--linear_gradient1), var(--linear_gradient2));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    display: block;     /* mais coerente com width total */
    margin: 0;
    padding-left: 30px;
    text-align: left;
    font-family: "Delius", cursive;
    font-style: normal;
}

div.links_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    padding-right: 30px;
}
.link_container_paths {
    text-decoration: none;
    color: rgb(78, 78, 78);
}
.link_container_paths:hover {
    text-decoration: none;
    color: #263b2a;
    transform: scale(1.05);
}
.title_link {
    text-decoration: none;
}

/* CSS */
.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

/* Main Section main_text */
.main_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 620px;
    padding-top: 90px;
}
#main_text_central {
    color: black;
    text-align: center;
    font-family: "Doppio One";
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#poluicao_ambiental_colorido {
    background: linear-gradient(90deg, var(--linear_gradient1), var(--linear_gradient1), var(--linear_gradient2));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Doppio One";
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#poluicao_ambiental_subtitulo {
    color: black;
    text-align: center;
    font-family: "Doppio One";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Main Section secondary_texts */
.main_broader_division {
    display: flex;
    flex-direction: column;
}
.secondary_text {
    position: static;
    width: 1920px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;


}
.title_and_bulb_icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.bulb_icon {
    height: 50px;
    width: 50px;
    padding-left: 10px;
    padding-right: 10px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.image_frames {
    border-radius: 10px;
    width: 608px;
    height: 411px;
}


